#development, production
NODE_ENV="production"









########################################################################################################
#  _____           _       __     _____ _____
# |  __ \         | |     / /\   |  __ \_   _|
# | |__) |___  ___| |_   / /  \  | |__) || |
# |  _  // _ \/ __| __| / / /\ \ |  ___/ | |
# | | \ \  __/\__ \ |_ / / ____ \| |    _| |_
# |_|  \_\___||___/\__/_/_/    \_\_|   |_____|
#
########################################################################################################
### Данные подхватываются автоматически                                                              ###
########################################################################################################
########################################################################################################
### APIs Sub System                                                                                  ###
### Здесь можно задать кол-во выдаваемых объектов                                                    ###
########################################################################################################
APIs.limit.search=10           # Кол-во треков в поиске
APIs.limit.author=10           # Кол-во треков при запросе автора
APIs.limit.playlist=70         # Кол-во треков при получении плейлиста
APIs.limit.album=70            # Кол-во треков при получении альбома
APIs.limit.related=10          # Кол-во треков при получении похожих треков

########################################################################################################
### APIs Proxy System                                                                                ###
### Управление прокси (Как указать свои название.proxy=тип)                                          ###
########################################################################################################
# Запросы поддерживают (http, socks 4-5)
# Аудио поддерживает только http прокси
# Ссылка прокси | Аудио использует точно такую-же ссылку но другой протокол

# Examples
# Socks = socks://127.0.0.1:10808 или socks://username:pass@127.0.0.1:1080
# http = http://127.0.0.1:10808
APIs.proxy=""
proxy.ws=false            # Может ли WS использовать прокси, полезно когда основное подключение глушится
youtube.proxy=off
deezer.proxy=off
soundcloud.proxy=off
spotify.proxy=off

########################################################################################################
### Yandex Music -> User Token                                                                       ###
### https://oauth.yandex.ru/authorize?response_type=token&client_id=23cabbbdc6cd418abb4b39c32c41195d ###
### В случае отсутствия будет отключена возможность                                                  ###
### Type: string                                                                                     ###
########################################################################################################
yandex.token=""
yandex.proxy=off

########################################################################################################
### VK -> User Token                                                                                 ###
### https://vkhost.github.io/                                                                        ###
### В случае отсутствия будет отключена возможность                                                  ###
### Type: string                                                                                     ###
########################################################################################################
vk.token=""
vk.proxy=off









########################################################################################################
### Настройки клиента, менять настройки с умом                                                       ###
########################################################################################################
#   _____ _ _            _      _____      _   _   _
#  / ____| (_)          | |    / ____|    | | | | (_)
# | |    | |_  ___ _ __ | |_  | (___   ___| |_| |_ _ _ __   __ _ ___
# | |    | | |/ _ \ '_ \| __|  \___ \ / _ \ __| __| | '_ \ / _` / __|
# | |____| | |  __/ | | | |_   ____) |  __/ |_| |_| | | | | (_| \__ \
#  \_____|_|_|\___|_| |_|\__| |_____/ \___|\__|\__|_|_| |_|\__, |___/
#                                                           __/ |
#                                                          |___/
########################################################################################################
### Discord                                                                                          ###
### Токен бота, необходим для работы                                                                 ###
### Type: string                                                                                     ###
########################################################################################################
token.discord=""

########################################################################################################
### Status System                                                                                    ###
### Управление настройками статуса                                                                   ###
########################################################################################################
# Поддерживаются | online, idle, dnd, invisible
client.status="online"

# Время обновления статуса бота в секундах
client.presence.interval=35

# Используется JSON
# Поддерживаются type | Playing, Streaming, Listening, Watching, Custom, Competing
# Поддерживаются типы {guilds}, {queues}, {players}, {shard}, {users}
# Необходимо включить `Server Members Intent`
client.presence.array={"name": "on 0.5.0", "type": "Watching"}, {"name": "not lavalink music", "type": "Custom"}, {"name": "shard {shard} on {guilds} guilds", "type": "Watching"}, {"name": "on {players} guilds", "type": "Playing"}

# Время обновления кастомных статусов
client.presence.array.update=60

########################################################################################################
### Cooldown System                                                                                  ###
### Управление ограничениями при обработке запросов                                                  ###
########################################################################################################
cooldown=on

# Ограничение по времени при обработке команд или кнопок в секундах
cooldown.time=5

########################################################################################################
### Owner Sub System                                                                                 ###
### Команды доступные для разработчиков будут доступны только этом пользователям                     ###
### Доступное значение: string                                                                       ###
########################################################################################################
owner.server=""                 # Сервер где будут доступны особые команды
owner.list=""                   # Список разработчиков, указывать через -> ,









########################################################################################################
### Дополнительные настройки плеера, могут сильно повлиять на качество звука                         ###
########################################################################################################
#                    _ _       _____  _
#     /\            | (_)     |  __ \| |
#    /  \  _   _  __| |_  ___ | |__) | | __ _ _   _  ___ _ __
#   / /\ \| | | |/ _` | |/ _ \|  ___/| |/ _` | | | |/ _ \ '__|
#  / ____ \ |_| | (_| | | (_) | |    | | (_| | |_| |  __/ |
# /_/    \_\__,_|\__,_|_|\___/|_|    |_|\__,_|\__, |\___|_|
#                                              __/ |
#                                             |___/
########################################################################################################
### Audio Sub System                                                                                 ###
### Здесь можно задать некоторые параметры для проигрывания аудио                                    ###
########################################################################################################
ffmpeg.path="ffmpeg"           # Путь до исполняемого файла ffmpeg
duration.optimization=15       # Время от конца для блокировки смены потока

audio.fade=5                   # Длительность плавного включения/выключения
audio.swap.fade=2              # Длительность плавного включения/выключения при переключении трека или применения фильтра
audio.volume=50                # Громкость аудио

########################################################################################################
### Cache Sub System                                                                                 ###
### Кеширование данных, позволяет включать треки если даже нет доступа к платформе                   ###
### Может не работать на некоторых хостингах                                                         ###
########################################################################################################
cache=off                      # Глобальный параметр кеширования
cache.file=off                 # Кеширование в файлы (аудио, данные треков, логи), при отключении все будет хранится в памяти
cache.dir="build/.cache"       # Куда все будет кешироваться

########################################################################################################
### Images                                                                                           ###
### Ссылки на картинки для красивого отображения сообщений                                           ###
########################################################################################################
image.not="https://raw.githubusercontent.com/SNIPPIK/SNIPPIK/main/Note.png"
image.banner="https://raw.githubusercontent.com/SNIPPIK/WatKLOK/nightly/.github/resource/Icons/BG.png"
image.currentPlay="https://raw.githubusercontent.com/SNIPPIK/SNIPPIK/main/Disk.gif"







########################################################################################################
### Имена или индикаторы emoji внутри системы discord                                                ###
########################################################################################################
#  ______                 _ _
# |  ____|               (_|_)
# | |__   _ __ ___   ___  _ _ ___
# |  __| | '_ ` _ \ / _ \| | / __|
# | |____| | | | | | (_) | | \__ \
# |______|_| |_| |_|\___/| |_|___/
#                       _/ |
#                      |__/
# Смайлики под видом прогресс бара (<:имя:ID>)
# Как указывать правильные параметры
# ID - <:name:id> | discord emoji - ":string:" | emoji - "⚪️"

progress.empty.left="="
progress.empty.right="="
progress.empty.center="=-"
progress.not_empty.left="-"
progress.not_empty.right="-"
progress.not_empty.center="-="

progress.button="⚪️"
progress.button.vk="🔵"
progress.button.yandex="🟡"
progress.button.youtube="🔴"
progress.button.spotify="🟢"
progress.button.soundcloud="🟠"
progress.button.deezer="🟣"

loading.emoji="🔗"
disk.emoji="💿"

# Для плеера
buffer.emoji="📦"
lost.emoji="📥"
user.emoji="👤"

# Для действий внутри системы
queue.emoji="🎶"
current.emoji="▶️"
selected.emoji="➡ 🎵️"

# Визуалы под видом кнопок при проигрывании
# Как указывать правильные параметры
# ID - only int | discord emoji - ":string:" | emoji - "⚪️"
button.back="⏪"
button.resume="▶️"
button.pause="⏸"
button.skip="⏩"
button.loop="🔁"
button.loop_one="🔂"
button.shuffle="🔀"
button.autoplay="♾"

button.queue="📑"
button.lyrics="💽"
button.filters="🎛"
button.stop="🟥"