########################################################################################################
### Discord                                                                                          ###
### Токен бота, необходим для работы                                                                 ###
### Type: string, null, auto                                                                         ###
########################################################################################################
token.discord=""

########################################################################################################
### YouTube                                                                                          ###
### В случае отсутствия будет использоваться парсинг                                                 ###
### Type: string, null                                                                               ###
########################################################################################################
token.youtube=""

########################################################################################################
### Yandex Music -> User Token                                                                       ###
### https://oauth.yandex.ru/authorize?response_type=token&client_id=23cabbbdc6cd418abb4b39c32c41195d ###
### В случае отсутствия будет отключена возможность                                                  ###
### Type: string                                                                                     ###
########################################################################################################
token.yandex=""

########################################################################################################
### Spotify -> ClientID:ClientSecret                                                                 ###
### В случае отсутствия будет отключена возможность                                                  ###
### Type: string                                                                                     ###
########################################################################################################
token.spotify=""

########################################################################################################
### VK -> User Token                                                                                 ###
### В случае отсутствия будет отключена возможность                                                  ###
### Type: string                                                                                     ###
########################################################################################################
token.vk=""

########################################################################################################
### Настройки клиента, менять настройки с умом                                                       ###
########################################################################################################
#   _____ _ _            _      _____      _   _   _
#  / ____| (_)          | |    / ____|    | | | | (_)
# | |    | |_  ___ _ __ | |_  | (___   ___| |_| |_ _ _ __   __ _ ___
# | |    | | |/ _ \ '_ \| __|  \___ \ / _ \ __| __| | '_ \ / _` / __|
# | |____| | |  __/ | | | |_   ____) |  __/ |_| |_| | | | | (_| \__ \
#  \_____|_|_|\___|_| |_|\__| |_____/ \___|\__|\__|_|_| |_|\__, |___/
#                                                           __/ |
#                                                          |___/
########################################################################################################
### ShardManager                                                                                     ###
### Задает кол-во осколков для системы sharding                                                      ###
### Доступное значение: auto, int                                                                    ###
########################################################################################################
shard.total="auto"

########################################################################################################
### ShardManager                                                                                     ###
### Кол-во серверов на один осколок                                                                  ###
### Доступное значение: int                                                                          ###
########################################################################################################
shard.server=100

########################################################################################################
### Whitelist Sub System                                                                             ###
### Если включен то бот будет реагировать только на указанных пользователей                          ###
### Доступное значение: string,string                                                                ###
########################################################################################################
whitelist=true
whitelist.list="312909267327778818,556860277552054272,297456036544118785"

########################################################################################################
### Webhook Sub System                                                                               ###
### Если включен то бот при получении ошибки будет выводить ошибку в канал                           ###
### Доступное значение: string                                                                       ###
########################################################################################################
webhook.id=""
webhook.token=""

########################################################################################################
### Owner Sub System                                                                                 ###
### Команды доступные для разработчиков будут доступны только этом пользователям                     ###
### Доступное значение: string                                                                       ###
########################################################################################################
owner.server="677481212599599104"
owner.list="312909267327778818,556860277552054272,297456036544118785"

########################################################################################################
### Дополнительные настройки плеера, могут сильно повлиять на качество звука                         ###
########################################################################################################
#                    _ _       _____  _
#     /\            | (_)     |  __ \| |
#    /  \  _   _  __| |_  ___ | |__) | | __ _ _   _  ___ _ __
#   / /\ \| | | |/ _` | |/ _ \|  ___/| |/ _` | | | |/ _ \ '__|
#  / ____ \ |_| | (_| | | (_) | |    | | (_| | |_| |  __/ |
# /_/    \_\__,_|\__,_|_|\___/|_|    |_|\__,_|\__, |\___|_|
#                                              __/ |
#                                             |___/
########################################################################################################
### Audio Sub System                                                                                 ###
### Здесь можно задать некоторые параметры для проигрывания аудио                                    ###
### audio.fade   - Длительность плавного включения/выключения                                        ###
### audio.volume - Громкость аудио                                                                   ###
### Доступное значение: int, float                                                                   ###
########################################################################################################
ffmpeg.path="ffmpeg"
audio.fade=5
audio.volume=100

########################################################################################################
### Cache Sub System                                                                                 ###
### Кеширование данных нужно для обхода ограничений со стороны платформы                             ###
### Так-же позволяет кешировать аудио файлы                                                          ###
### Может не работать на некоторых хостингах                                                         ###
########################################################################################################
history=true
cached.dir="../build/.cache"

########################################################################################################
### APIs Sub System                                                                                  ###
### Здесь можно задать кол-во выдаваемых объектов                                                    ###
########################################################################################################
APIs.limit.search=5                    #Кол-во треков в поиске
APIs.limit.author=5                    #Кол-во треков при запросе автора
APIs.limit.playlist=50                 #Кол-во треков при получении плейлиста
APIs.limit.album=50                    #Кол-во треков при получении альбома

########################################################################################################
### Имена или индикаторы emoji внутри системы discord                                                ###
########################################################################################################
#  ______                 _ _
# |  ____|               (_|_)
# | |__   _ __ ___   ___  _ _ ___
# |  __| | '_ ` _ \ / _ \| | / __|
# | |____| | | | | | (_) | | \__ \
# |______|_| |_| |_|\___/| |_|___/
#                       _/ |
#                      |__/
#Смайлики под видом прогресс бара (<:имя:ID>)
progress.empty.left="<:e_left:1154061020298477658>"
progress.empty.right="<:e_right:1154054820106354698>"
progress.empty.center="<:e_center:1154054761079914603>"
progress.not_empty.left="<:ne_left:1154054931385434143>"
progress.not_empty.right="<:ne_right:1154060971313217676>"
progress.not_empty.center="<:ne_center:1154054887651422288>"

progress.bottom="<:but:1154295161652785202>"
progress.bottom.vk="<:but_vk:1254854664059486349>"
progress.bottom.yandex="<:but_yandex:1254854680756883476>"
progress.bottom.youtube="<:but_youtube:1254854717742387291>"
progress.bottom.spotify="<:but_spotify:1254854697618116658>"

#Кнопки под плеером (ID смайликов)
button.pref="1154418654272819200"
button.resume="1154418665421287564"
button.pause="1154420926180499536"
button.next="1154418640880406558"
button.loop="1290744265470771362"
button.loop_one="1290744312317083648"
button.shuffle="1214604240874508339"

button.queue="1160283549119828029"
button.lyrics="1290744327433359464"
button.filters="1290744283900416114"
button.replay="1290745355293429831"
button.stop="1290744226837041325"

#Эмодзи для APIs
loading.emoji="<a:loading:1168551146349154344>"

########################################################################################################
### Дополнительные настройки без них бот будет работать, все изменять на свой страх и риск           ###
########################################################################################################
#   ____        _   _                   _
#  / __ \      | | (_)                 | |
# | |  | |_ __ | |_ _  ___  _ __   __ _| |___
# | |  | | '_ \| __| |/ _ \| '_ \ / _` | / __|
# | |__| | |_) | |_| | (_) | | | | (_| | \__ \
#  \____/| .__/ \__|_|\___/|_| |_|\__,_|_|___/
#        | |
#        |_|
########################################################################################################
### Images                                                                                           ###
### Ссылки на картинки для красивого отображения сообщений                                           ###
########################################################################################################
image.not="https://raw.githubusercontent.com/SNIPPIK/SNIPPIK/main/Note.png"
image.currentPlay="https://raw.githubusercontent.com/SNIPPIK/SNIPPIK/main/Disk.gif"